@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&family=Work+Sans:wght@100;500&display=swap");

body {
  font-family: Roboto;
}

header {
  grid-area: header;
  border-bottom: 3px solid #e5e7eb;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
}

main {
  grid-area: main;
  opacity: 1;
  overflow: auto;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "main";
  overflow-x: hidden;
}
.sidebar {
  grid-area: nav;
  position: fixed;
  left: 0;
  width: 300px;
  height: 100vh;
  margin-top: 3.6rem;
  z-index: 20;
  align-content: center;
  transition: width 0.5s ease 0s;
  background-color: var(--white-color);
  border-right: 3px solid #e5e7eb;
}
.mobile-nav-icon {
  display: flex;
}

.sidebar-visibility {
  display: none;
}

@media (min-width: 720px) {
  .mobile-nav-icon {
    display: none;
  }

  body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "header header"
      "nav main ";
    grid-column-gap: 6rem;
    overflow-x: hidden;
  }

  .sidebar {
    grid-area: nav;
    position: fixed;
    left: 0;
    width: 300px;
    height: 100vh;
    margin-top: 3.6rem;
    z-index: 20;
    align-content: center;
    background-color: var(--white-color);
    border-right: 3px solid #e5e7eb;
  }

  main {
    grid-area: main;
    opacity: 1;
    overflow: auto;
    width: 100%;
  }

  .sidebar-visibility {
    display: block;
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.list-group-margin {
  padding-inline-start: 0;
  margin: 2rem 1rem;
}

.center-div {
  border: 1px solid #e5e7eb;
  padding: 1rem 1rem;
  width: 82%;
  border-radius: 0.7rem;
}

.heading {
  line-height: 1.2;
  color: #374151;
  letter-spacing: 0.5px;
}

.spaced-list-item {
  font-size: 1.2rem;
  color: #374151;
  padding-left: 30%;
}

.code-div {
  margin-top: 1rem;
  width: 86%;
  margin-bottom: 2rem;
  left: 0;
}

.floating-action-btn-view {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 50%;
}

.badge-container {
  display: flex;
  align-items: flex-end;
}

.scroll-margin-top {
  scroll-margin-top: 12vh;
}
